aside.sidebar
  .innerbar
    .options.compact
      a(href="/create/key") #[i(data-feather="search")]
      a(href="/create/key") #[i(data-feather="plus")]
      if isKey
        span.divider
        a(href="/getting-started") #[i(data-feather="layout")]
        a(href="/keys/all") #[i(data-feather="layers")]
        a(href="/keys/all") #[i(data-feather="activity")]
    .options.bottom.compact
      a(href="/docs") #[i(data-feather="book")]
      a(href="/account") #[i(data-feather="settings")]
      a(href="/auth/logout") #[i(data-feather="log-out")]
  .outerbar
    .options.main
      if isKey
        h6.detail=heading
        a(href=`/key/${key.id}/activity`) #[i(data-feather="activity")] #[span Activity]
        a(href=`/key/${key.id}/clicks`) #[i(data-feather="navigation")] #[span Clicks]
        a(href=`/key/${key.id}/hits`) #[i(data-feather="eye")] #[span Page hits]
        a(href=`/key/${key.id}/countries`) #[i(data-feather="globe")] #[span Countries]
        a(href=`/key/${key.id}/devices`) #[i(data-feather="smartphone")] #[span Devices]
      else
        a(href="/getting-started") #[i(data-feather="layout")] #[span Overview]
        a(href="/keys/all") #[i(data-feather="layers")] #[span Project keys]
        a(href="/keys/all") #[i(data-feather="activity")] #[span Activity]
    .options.bottom
      a.user-item(href="/account")
        .user-image
          img(src=user.avatarUrl)
        .user-info
          small=user.name
          small.text.muted @#{user.login}
