extends ../layout


block content
	- var title = "Your account"
	- var sub = user.name
	.contain
		include ../static/nav.pug

		if user
			section#account
				.details
					.input
						label User ID
						small Your uniquely assigned user ID
						input(type="text", value=user.id, disabled)
					.input
						label Login name
						small You username you are referred to
						input(type="text", value=user.login, disabled)
					.input
						label Full name
						small Your name, pulled in by the service you logged in with
						input(type="text", value=user.name, disabled)
					.input
						label Your URL
						small The URL pulled in by the service you logged in with
						input(type="text", value=user.url, disabled)
					.input
						label Login type
						small The type of service you used to make your account
						input(type="text", value=user.type, disabled)
					.input
						a.button.in-input Update changes
				.profile_image
					img(src=user.avatarUrl)
					a Change profile picture
