extends ../layout

block content
	- var title = "Dashboard"
	- var sub = "Overview"
	- var clickstotal = 0
	- var hitstotal = 0
	if hasClickTrackers
		each val, index in clicktrackers
			-clickstotal = clickstotal + val
	if hasHitTrackers
		each val, index in hittrackers
			-hitstotal = hitstotal + val
	.contain
		include ../static/nav.pug
		section#key_info
			.info.signal Status: #[span]
			.info Name: #[span=key.name]
			.info ID: #[span=key.id]
			.info Domain: #[span=key.domain]
			.info.float-right
				.dropdown.right
					a.toggle Options
					ul.menu
						li #[a(href="/create/key") Make inactive]
						li #[a.d_key Delete application]

		section#trackers
			.grid-row
				.xs-12.m-6(class=hasClickTrackers || hasHitTrackers ? "" : "hidden")
					.graph.graph_clicks
						.stats
							.sum
								p Total clicks
								h2=clickstotal
							span
								.increase #[b.prc]% #[i.ion-arrow-up-b]
								small.updated
						#chart_c.sparkline
					ul#clicks
						li.header #[h5 Click trackers]
							div.search #[i.ion-ios-search-strong] #[.filter.hidden(contenteditable="true")]
							each val, index in clicktrackers
								li(data-click=index) #{index}
									span #{val}

				.xs-12.m-6(class=hasClickTrackers || hasHitTrackers ? "" : "hidden")
					.graph.graph_hits
						.stats
							.sum
								p Total page hits
								h2=hitstotal
							span
								.increase #[b.prc]% #[i.ion-arrow-up-b]
								small.updated
						#chart_h.sparkline
					ul#hits
						li.header #[h5 Hit trackers]
							div.search #[i.ion-ios-search-strong] #[.filter.hidden(contenteditable="true")]
							each val, index in hittrackers
								li(data-hit=index) #{index}
									span #{val}
				#empty.xs-12(class=hasClickTrackers || hasHitTrackers ? "hidden" : "")
					.empty
						h4 There isn't enough data here to show just yet.


block footer
	script(src="//momentjs.com/downloads/moment.min.js")
	script(src="//code.highcharts.com/highcharts.js")
	script(src="//code.highcharts.com/modules/no-data-to-display.js")
	script(src="/socket.io/socket.io.js")
	script.
		let opt = {}
		opt.key = '#{trackKey}'
		opt.trackR = '/track_#{trackKey}'
		opt.clickTotal = #{clickstotal}
		opt.hitTotal = #{hitstotal}
		opt.clickLast = 0
		opt.hitLast = 0
