extends ../layout

block content
	- var title = "Dashboard"
	- var sub = "Overview"
	- var clickstotal = 0
	- var hitstotal = 0
	if hasClickTrackers
		each val, index in clicktrackers
			-clickstotal = clickstotal + val
	if hasHitTrackers
		each val, index in hittrackers
			-hitstotal = hitstotal + val
	.contain
		include ../static/nav.pug
		section#key_info
			.info Name: #[span=key.name]
			.info ID: #[span=key.id]
			.info.float-right Domain: #[span=key.domain]
		section#trackers
			.grid-row
				if hasClickTrackers || hasHitTrackers
					.xs-12.m-6
						.graph.graph_clicks
							.stats
								.sum
									p Total clicks
									h2=clickstotal
								span 6% #[i.ion-arrow-up-b]
							.sparkline
						ul#clicks
							li.header #[h5 Click trackers]
								div.search #[i.ion-ios-search-strong] #[.filter.hidden(contenteditable="true")]
								each val, index in clicktrackers
									li(data-click=index) #{index}
										span #{val}

					.xs-12.m-6
						.graph.graph_hits
							.stats
								.sum
									p Total page hits
									h2=hitstotal
								//- .current
								//- 	p Total page hits
								//- 	h2
								span 6% #[i.ion-arrow-up-b]
							.sparkline
						ul#hits
							li.header #[h5 Hit trackers]
								div.search #[i.ion-ios-search-strong] #[.filter.hidden(contenteditable="true")]
								each val, index in hittrackers
									li(data-hit=index) #{index}
										span #{val}
				else
					.xs-12
						.empty
							h4 There isn't enough data here to show just yet.


block footer
	script(src="//code.highcharts.com/highcharts.js")
	script(src="//code.highcharts.com/modules/no-data-to-display.js")
	script(src="/socket.io/socket.io.js")
	script.
		const opt = {}
		opt.key = '#{trackKey}'
		opt.trackR = '/track_#{trackKey}'
		opt.clickTotal = #{clickstotal}
		opt.hitTotal = #{hitstotal}
