extends ../layout

block content
	if hasClickTrackers
		h5 Click tracks
		ul#trackers
			each val, index in clicktrackers
				li(data-click=index) #{index} #{val}
	else
		h2 You don't have any click trackers, add trackers to your elements on your site to get started.

	if hasHitTrackers
		h5 Hit tracks
		ul#trackers
			each val, index in hittrackers
				li(data-hit=index) #{index} #{val}
	else
		h2 You don't have any hit trackers, add trackers to your elements on your site to get started.

block footer
	script(src="/socket.io/socket.io.js")
	script.
		const trackR = `/track_#{trackKey}`
