extends ../layout
block content
  - var status = true
  - var clickstotal = 0
  - var hitstotal = 0
  if hasTrackers
    each val, index in clicktrackers
      -clickstotal = clickstotal + val
    each val, index in hittrackers
      -hitstotal = hitstotal + val
    - var avgsession = moment.utc(sessiontime / hitstotal).format("HH:mm:ss")
  else
    - var avgsession = "N/A"
    
  //- .info.float-right #[a(data-modal, data-track="Delete Key") #[i.ion-trash-b]]
      
  if page == 'dashboard'
    .row.infographics
      .equal
        .infographic
          h5 Average page session
          p #[i(data-feather="clock")] #{avgsession}
      .equal
        .infographic
          h5 Application domain
          p
            a(href=`http://${key.domain}`, target="_blank") #[i(data-feather="external-link")] #{key.domain}
      .equal
        .infographic
          h5 Application key
          p ##[b=key.id]
    .chart(class=hasTrackers ? "" : "hidden")
      .graph.graph_clicks
        .stats
          .sum
            p Total clicks
            h2=clickstotal
          span
            .increase #[b.prc]% #[i.ion-arrow-up-b]
            small.updated
        #chart_c.sparkline
          
    .chart(class=hasTrackers ? "" : "hidden")
      .graph.graph_hits
        .stats
          .sum
            p Total page hits
            h2=hitstotal
          span
            .increase #[b.prc]% #[i.ion-arrow-up-b]
            small.updated
        #chart_h.sparkline
            
  if page == 'activity'
    section#activity
      if activities
        each activity in activities
          if activity.type == 'hit'
            .activity.a_hit
              .icon
                i(data-feather="eye")
              p A user visited #[b.text-dark=activity.page] from #[b.text-dark #{activity.city}, #{activity.country}] on device #[b.text-dark=activity.device]
              small= moment(activity.time * 1000).fromNow()
          else
            .activity.a_click
              .icon
                i(data-feather="navigation")
              p A user clicked on #[b.text-dark=activity.element]
              small= moment(activity.time * 1000).fromNow()
    
  if page == 'clicks'
    table.table.basic#clicks
      thead
        tr
          th Click tracker name
          th Click count
      tbody
        each val, index in clicktrackers
          tr
            td
              b=index
            td=val

            
  if page == 'hits'
    table.table.basic#hits
      thead
        tr
          th Page
          th Hit count
      tbody
        each val, index in hittrackers
          tr
            td
              b=index
            td=val
            
  if page == 'sessions'
    table.table.basic#sessions
      thead
        tr
          th Page
          th Average time spent
          th Total time spent
      tbody
        each val, index in sessiontrackers
          tr
            td
              b=index
            td #[i(data-feather="clock")] #{moment.utc(val / hittrackers[index]).format("HH:mm:ss")} #[span.text.light (#{hittrackers[index]} hits)]
            td #[i(data-feather="clock")] #{moment.utc(val).format("HH:mm:ss")}
            
            
  if page == 'countries'
    table.table.basic#countries
      thead
        tr
          th Country
          th Visits
      tbody
        each val, index in countrytrackers
          tr
            td
              b=index
            td=val

  if page == 'devices'
    table.table.basic#devices
      thead
        tr
          th Device type
          th Visits
      tbody
        each val, index in devicetrackers
          tr
            td
              b=index
            td=val

            
  #empty.xs-12(class=hasTrackers ? "hidden" : "")
    .empty
      h4 There isn't enough data here to show just yet.                
  
  include ../static/modal.pug

block footer
  script(src="//momentjs.com/downloads/moment.min.js")
  script(src="//code.highcharts.com/highcharts.js")
  script(src="//code.highcharts.com/modules/no-data-to-display.js")
  script(src="/socket.io/socket.io.js")
  script.
    let opt = {}
    opt.key = '#{trackKey}'
    opt.keyName = '#{key.name}'
    opt.trackR = '/track_#{trackKey}'
    opt.clickTotal = #{clickstotal}
    opt.hitTotal = #{hitstotal}
    opt.avgsession = #{sessiontime / hitstotal}
    opt.clickLast = 0
    opt.hitLast = 0
    opt.lastTime = 0
