extends ../layout

block content
  .activekeys
    table.table.basic.keys
      thead
        tr
          th Name
          th Domain
          th Key Id
          th
      tbody
        if keys
          each key in keys
            tr
              td 
                b=key.name
              td
                a(href=`http://${key.domain}`, target="_blank") #[i(data-feather="external-link")] #{key.domain}
              td=key.id
              td
                a(href=`/key/${key.id}`) View
