extends ../layout

block content
  .activekeys
    table.table.basic.keys
      thead
        tr
          th Application name
          th Application domain
          th Application key
          th
      tbody
        if keys
          each key in keys
            tr
              td 
                b=key.name
              td
                a(href=`http://${key.domain}`, target="_blank") #[i(data-feather="external-link")] #{key.domain}
              td=key.id
              td
                a(href=`/app/${key.id}`) View
